@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Geist Sans';
  font-style: normal;
  font-display: swap;
  src: url('assets/fonts/Geist[wght].woff2') format('woff2');
}

@layer base {
  *, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  * {
    @apply border-border outline-ring/50;
  }
  
  :root {
    font-family: 'Geist Sans', Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    /* Light Theme */
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 208 100% 50%;
    --primary-foreground: 210 40% 98%;
    --secondary: 220 14% 96%;
    --secondary-foreground: 222 47% 18%;
    --muted: 220 14% 96%;
    --muted-foreground: 216 15% 47%;
    --accent: 177 80% 49%;
    --accent-foreground: 222 47% 18%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 210 40% 98%;
    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 199 100% 50%;
    --radius: 0.5rem;

    --font-sans: 'Geist Sans', sans-serif;
    --font-mono: 'Geist Mono', monospace;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      color: #213547;
      background-color: #ffffff;

      /* Dark Theme */
      --background: 217 50% 11%;
      --foreground: 214 32% 98%;
      --card: 217 50% 11%;
      --card-foreground: 214 32% 98%;
      --popover: 217 50% 11%;
      --popover-foreground: 214 32% 98%;
      --primary-foreground: 214 32% 98%;
      --secondary: 222 32% 18%;
      --secondary-foreground: 214 32% 98%;
      --muted: 222 32% 18%;
      --muted-foreground: 215 20% 65%;
      --accent-foreground: 214 32% 98%;
      --destructive: 0 63% 31%;
      --destructive-foreground: 214 32% 98%;
      --border: 222 32% 18%;
      --input: 222 32% 18%;
      --ring: 200 100% 50%;
      --chart-1: 225 77% 57%;
      --chart-2: 165 48% 44%;
      --chart-3: 39 79% 52%;
      --chart-4: 278 75% 58%;
      --chart-5: 338 77% 56%;

      --sidebar-background: 222 32% 15%;
      --sidebar-foreground: 215 20% 85%;
      --sidebar-primary: 177 80% 49%;
      --sidebar-primary-foreground: 214 32% 98%;
      --sidebar-accent: 217 50% 18%;
      --sidebar-accent-foreground: 214 32% 98%;
      --sidebar-border: 222 32% 22%;
      --sidebar-ring: 177 80% 49%;
    }
  }

  body {
    @apply bg-background text-foreground min-h-[100vh] px-[16rem];
  }
  
  img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
}

@layer components {
  
}


